div#ct_add_community .modal-content,
div#ct_edit_community .modal-content {
    background-color: #111010;
    border: 1px solid var(--orange);
    padding: 22px;
}

.ct_edt_img img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
}

.ct_community_sidebar li.active,.ct_community_sidebar li:hover {
    background-color: var(--orange);
}
.ct_chat_back {
    display: none;
}
.ct_community_left_width{
    max-width: 350px;
}

@media screen and (max-width:1199px) {
    .ct_chat_back {
        display: block;
    }

  
}