div#ct_followed_coaches1 .modal-content {
    background-color: #111010;
    border: 1px solid var(--orange);
    padding: 22px;
}

.blurred {
    filter: blur(5px); /* Adjust the blur value as needed */
    pointer-events: none;
  }
  